{{ define "main" }}

	{{ partial "banner" site.Data.banner }}
	{{ partial "spotlight" site.Data.spotlight1 }}
	<section class="wrapper style1 align-left" id="spotlight">
		<div class="inner">
	     {{.Content}}
		</div>
	</section>
	<!--
	{{ partial "spotlight" site.Data.spotlight3 }}
	{{ partial "items" site.Data.items }}
	{{ partial "gallery" site.Data.gallery }}
	{{ partial "elements" . }}
	{{ partial "elements_reference" . }}
	{{ partial "template/footer" . }}-->
	{{ partial "spotlight" site.Data.spotlight2 }}

{{ end }}